@using SubtitleEditor.Web.Models.Account;
@using SubtitleEditor.Core.Contexts;
@using SubtitleEditor.Infrastructure.Services;
@inject ISystemOptionService SystemOptionService
@model RenewPasswordViewModel
@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "更新密碼";

    var passwordExpireDays = await SystemOptionService.GetIntAsync(SystemOptionNames.PasswordExpireDays) ?? 0;
    var noneRepeatCount = await SystemOptionService.GetIntAsync(SystemOptionNames.PasswordNoneRepeatCount) ?? 0;
}

<div class="page-container full-width">
    <div class="board">
        <form id="login-form" class="form-element-container" asp-route-returnurl="@ViewData["ReturnUrl"]" role="form" method="post">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ReturnUrl" />
            <div class="title">更新密碼</div>
            <div class="form-container">
                <label for="password-input">舊密碼</label>
                <input id="password-input" type="password" asp-for="Password" autocomplete="off" maxlength="1024" autofocus />
            </div>
            <div class="form-container">
                <label for="new-password-input">新密碼</label>
                <input id="new-password-input" type="password" asp-for="NewPassword" autocomplete="off" maxlength="1024" />
            </div>
            <div class="form-container">
                <label for="confirm-input">確認密碼</label>
                <input id="confirm-input" type="password" asp-for="Confirm" autocomplete="off" maxlength="1024" />
            </div>
            <div class="button-container">
                <button id="login-button" type="submit" class="primary">提交新密碼</button>
            </div>
        </form>
        <div class="info-container">
            <ul>
                @if (passwordExpireDays > 0)
                {
                    <li>每隔 <b>@(passwordExpireDays)</b> 天系統會強制要求變更一次密碼。</li>
                }
                @if (noneRepeatCount > 0)
                {
                    <li>不可以使用與前 <b>@(noneRepeatCount)</b> 次變更重複的密碼。</li>
                }
                <li>密碼長度需要至少 <b>8</b> 個字元。</li>
                <li>密碼需要包含半形的大寫英文字母、小寫英文字母、數字及特殊符號(~!&amp;$%^&*_+\`?={}()&gt;&lt;.-\/)。</li>
            </ul>
        </div>
    </div>
</div>