bin
obj
v14
packages
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Xx]64/
[Xx]86/
[Bb]uild/
bld/
#[Bb]in/
[Oo]bj/
.vs/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.VisualState.xml
TestResult.xml
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c
project.lock.json
artifacts/
*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
_Chutzpah*
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.psess
*.vsp
*.vspx
*.sap

node_modules/
Storage/
dist/
app.js
app.min.js
subtitle-editor.js
subtitle-editor.min.js
editor.all.css
editor.all.min.css
form.css
form.min.css
form.js
form.min.js
site.all.css
site.all.min.css
site.all.js
site.all.min.js
form.login.js
form.login.min.js
login.js
login.min.css
login.all.js
login.all.min.js