@{
    ViewData["Title"] = "批次建立單集";
}

<div class="page-container full-width scrollable">
    <div class="title-container">
        <span class="title">批次建立單集</span>
    </div>
    <div id="form-board" class="board"></div>
</div>