header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 50px;
    background-color: #2a522d !important;
    padding: 0 20px;
}


#self-manage-user-name::after {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 100%;
    content: "";
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #2a522d) !important;
}

#self-manage {
    display: block;
    position: relative;
    right: 0;
    top: 0;
    float: right;
    height: 50px;
    font-size: 0;
    box-sizing: border-box;
    border-right: 1px solid #555;
}

#self-manage > .user-item {
    display: inline-block;
    position: relative;
    height: 50px;
    vertical-align: bottom;
    color: #ccc;
    font-size: 15px;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #2a522d !important;
    border-left: 1px solid #555;
    padding: 15px;
}

#self-manage-menu {
    display: block;
    position: absolute;
    top: 50px;
    right: -1px;
    width: calc(100% + 1px);
    min-width: 180px;
    font-size: 0;
    background-color: #2a522d !important;
    border: 1px solid #555;
    overflow: hidden;
    box-sizing: border-box;
    z-index: 26;
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-out;
}

div.table-container table thead tr th.AsrMediaStatus {
    display: none !important;
}

