<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="copyright" content="本網頁著作權所有" />
    <title>@ViewData["Title"]</title>
    <environment exclude="Production">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/header.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/form.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/self-manage.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/theme.css" asp-append-version="true" />
        <script src="~/lib/polyfills/polyfills.js" asp-append-version="true"></script>
        @{
            if (Model.GetType().GetProperty("HasKey") == null || Model.GetType().GetProperty("HasKey").GetValue(Model) == null) // means it has a key, so evaluate what kind of key
            {
                if (!Model.AsrAccess) // add limited css if true
                {
                    <link rel="stylesheet" href="~/css/asr-limited.css" asp-append-version="true" />
                }
            } else if(!Model.HasKey) // if come here, means no key
            {
                <link rel="stylesheet" href="~/css/no-key.css" asp-append-version="true" />
            }
            else if (!Model.AsrAccess) // add limited css if true
            {
                <link rel="stylesheet" href="~/css/asr-limited.css" asp-append-version="true" />
            }
        }
        <script src="https://unpkg.com/video.js@8.5.2/dist/video.min.js" asp-fallback-src="./lib/videojs/videojs.min.js" asp-fallback-test="window.videojs"></script>
        <script src="https://unpkg.com/videojs-contrib-hls.js@3.2.0/dist/videojs-contrib-hlsjs.min.js" asp-fallback-src="./lib/videojs/videojs-contrib-hlsjs.min.js" asp-fallback-test="window.videojs"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.js" crossorigin="anonymous" referrerpolicy="no-referrer" asp-fallback-src="~/lib/require/require.min.js" asp-fallback-test="window.require"></script>
    </environment>
    <environment include="Production">
        @{
            if (Model.GetType().GetProperty("HasKey") == null || Model.GetType().GetProperty("HasKey").GetValue(Model) == null) // means it has a key, so evaluate what kind of key
            {
                if (!Model.AsrAccess) // add limited css if true
                {
                    <link rel="stylesheet" href="~/css/asr-limited.css" asp-append-version="true" />
                }
            }
            else if (!Model.HasKey) // if come here, means no key
            {
                <link rel="stylesheet" href="~/css/no-key.css" asp-append-version="true" />
            }
            else if (!Model.AsrAccess) // add limited css if true
            {
                <link rel="stylesheet" href="~/css/asr-limited.css" asp-append-version="true" />
            }
        }
        <link rel="stylesheet" href="~/lib/fontawesome/all.min.css" asp-append-version="true" asp-fallback-src="./lib/fontawesome/all.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/header.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/form.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/self-manage.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/theme.css" asp-append-version="true" />
        <script src="~/lib/polyfills/polyfills.js" asp-append-version="true"></script>
        <script src="~/lib/videojs/videojs.min.js" asp-append-version="true"></script>
        <script src="~/lib/videojs/videojs-contrib-hlsjs.min.js" asp-append-version="true"></script>
        <script src="~/lib/require/require.min.js" asp-append-version="true"></script>
    </environment>
    @await RenderSectionAsync("Stylies", required: false)
</head>
<body>
    <partial name="_HeaderPartial" />
    <div class="container">
        @RenderBody()
    </div>
    <footer>
        <div class="left">
            <p></p>
            <p>
                <span>
                    Copyright&nbsp;&copy;&nbsp;
                    @(DateTime.Today.Year.ToString())&nbsp;Video subtitle editor system
                </span>
            </p>
        </div>
    </footer>
    <script>window.ROOT = "@Url.Content("~")"</script>
    @await RenderSectionAsync("Scripts", required: false)
    <environment exclude="Production">
        <script src="~/js/init.js"></script>
        <script src="~/js/form.js"></script>
        <script src="~/js/subtitle-editor.js"></script>
        <script src="~/js/app.js"></script>
        <script src="~/js/loader.js"></script>
    </environment>
    <environment include="Production">
        <script src="~/js/init.js"></script>
        <script src="~/js/form.js"></script>
        <script src="~/js/subtitle-editor.js"></script>
        <script src="~/js/app.js"></script>
        <script src="~/js/loader.js"></script>
        @* <script src="~/js/site.all.min.js" asp-append-version="true"></script>
        <script src="~/js/site.all.js" asp-append-version="true"></script> *@
    </environment>
</body>
</html>